.team-standings-content {
    position: relative;
}

.team-standings-mask {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.527);

    display: flex;
    justify-content: center;
    align-items: center;
}

.team-standings-loading {
    max-width: 400px;
    max-height: 400px;
}

.team-standing-thead {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 6px;
}

.team-standing-tbody {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    grid-row-gap: 6px;
}

.team-standing-block {
    background-color: #fff;
    padding: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 16px;
}

.block-other-team{
    background-color: #eeeeee !important;
}

.team-standing-th {
    font-size: 16px;
    height: 45px;
}

.team-standing-img {
    width: 100%;
    height: 100%;
    max-width: 75px;
    max-height: 75px;
    min-width: 50px;
    min-height: 50px;
    object-fit: contain;
}
